/* RESET du CSS  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}

/* Image Principal */
.accueil {
  width: 100%;
  height: auto;
  background-image: url('../img/bg_image.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 1px;
  margin: px auto;
  border-top: 2px dotted #466075;
  border-bottom: 2px solid #466075;
}
.accueil h2 {
  text-align: center;
  font-size: 100px;
  text-shadow: 0 0 10px #000;
  color: #f1f1f1;
  margin: 10vh 0 0 0;
}
.button-main {
  border-radius: 30px;
  background: #a8ccea;
  border: 1px solid #BBE1FF;
  color: #466075;
  text-align: center;
  font-size: 22px;
  display: block;
  width: 200px;
  height: 70px;
  line-height: 70px;
  text-decoration: none;  
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button-main:hover {
  background: #bcdffd;
  color: #466075;
}
.sous-titre {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #f1f1f1;
  margin: 5px 0;
  text-shadow: 0 0 10px #000;
}
@media screen and (max-width: 850px) {
  .accueil {
      height: auto;
  }
  .accueil h2 {
      font-size: 60px;
  }
  .sous-titre {
      font-size: 23px;
  }
  .button-main {
      width: 150px;
      height: auto;
      line-height: 50px;
      font-size: 18px;
      margin: 25px auto;
  }
}

/* Organisation avec les 3 icones */

#organisation {
  margin: 3vh auto;
}
.etapes {
  display: flex;
}
.bloc-icons {
  text-align: center;
  margin: 3vh;
}
.bloc-icons h3{
  margin: 2.5vh auto;
  color: #466075;
  font-size: 28px;
  font-weight: bold;
}
.bloc-icons p {
  color: #466075;
  font-style: italic;
  margin-bottom: 3vh;
}

/* Organisation: Reponsive 3 icons */
@media (max-width: 850px) {
  .etapes {
    display: block;
  }
  .bloc-icons h3{
  font-size: 18px;
  }
  .bloc-icons p{
    font-size: 18px;
  }
  #organisation {
    margin: 2vh auto;
    border-top: none;
    border-bottom: none;
  }
}

/* Section A propos  */

#apropos {
  border-bottom: 3px solid rgba(0,0,0,0.1);
  border-top: 3px solid rgba(0,0,0,0.1);
  margin: 5vh auto 5vh;
}
#apropos h2{
  font-size: 32px;
  margin: 5vh 5vh 5vh;
  font-weight: bold;
  color: #2f4150;
}
.presentation {
  display: flex;
  margin: 5vh auto 5vh;
  align-items: center;
  justify-content:center;
  width: 70%;

}
.presentation img {
  height: 500px;
}
.presentation p {
 margin-top: 1vh;
 text-align: justify;
 line-height: 3vh;
}
.text-apropos {
  padding-left: 4vh;
}
.presentation ul {
  margin: 3vh 0 2vh 3vh;
  line-height: 3vh;  
}
.presentation li {
  list-style: inside;
  margin-bottom: 1vh;
  font-style: italic;
}

@media (max-width: 1080px) {
  
  #apropos h2{
    margin-left: 4vh;
    font-size: 27px;
    font-weight: bold;
    color: #2f4150;
    text-align: center;
  }
  .presentation {
    flex-wrap: wrap;
    height: 50%;
  }
  .presentation img {
    height: 400px;
    padding: 0;
  }
  .presentation p {
    line-height: 2vh;  
  }
  .presentation ul {
    margin: 3vh 0 2vh 3vh;
    line-height: 2vh;  
  }
}

/* Section equipe  */

#equipe {
  margin-top: 5vh;
}
#equipe h2 {
  font-size: 32px;
  margin-left: 5vh;
  font-weight: bold;
  color: #2f4150;
}

#equipe>p {
  margin-left: 8vh;
  margin-top: 1.5vh;
  color: #2f4150;
}

.equipe-block{
  display: flex;
  padding-top: 3vh;
  padding-bottom: 3vh;
  justify-content: space-evenly;
  text-align: center;
}
.membre-teams {
  width: 25vh;
  padding: 2vh;
  background-color: rgb(226, 226, 226);
  border-radius: 30px;
}
.membre-teams img {
  border: 3px solid #86A7C2;
  border-radius: 99999px;
}
.membre-teams h3{
  padding-top: 1vh;
}
.membre-teams p{
  text-align: center;
}
@media (max-width:1080px) {
  .equipe-block{
    flex-direction: column;
    align-items: center;
  }
  .membre-teams {
    margin: 2vh;
  }
  #equipe h2 {
    font-size: 27px;
    text-align: center;
  }
}