.underline {
    text-decoration: underline;
}

section {
    width: 70%;
    margin: 5vh auto 5vh;
    justify-content:center;
}

h2{ 
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #2f4150;
    padding-top: 3vh;
    margin-bottom: 2vh;
}
h3 {

    font-size: 25px;
    text-align: left;
    font-weight: bold;
    color: #2f4150;

}

.presentation p {
    margin: auto;
    text-align: justify;
    width: 70%;
}

.stats {
    margin: 1vh auto;
    text-align: justify;
    width: 70%;
} 
.stats ul {
    padding-left: 3vh;

}

.top {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}

.direction-normal {
    flex-direction: row;
}

.top-txt {
    text-align: justify;
    width: 70%;
}

.top-txt h2 {
    margin-left: -20vh;
}

.top-txt li {
    padding: 2vh 0;
    font-weight: bold;
}

.top-txt li::marker{
    text-align: ;
}

.top-txt p {
    font-style: italic;
    margin: 0 10vh;
}

.top-img {
    width: 40%;
    margin-top: 10vh;
}

.top img{
    width: 350px;
    display: block;
    margin-bottom:  10vh;
}

.video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Athènes  */
.first-presentation {
    display: flex;

}

.first-presentation p {
    margin: 30px;
}
.first-presentation img {
    width: 500px;
    border-radius:30px;
    opacity: 80%;
}

.second-presentation p {
    width: 100%;
    margin: 3vh 0;
}
@media screen and (max-width: 1700px) {
    .top {
        flex-direction: column;
        align-items: center;
    }
    .stats ul {
        padding-left: 0;
    }

    .top-txt li {
        text-align: center;
    }

    .top-txt ol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-txt h2 {
        margin-left: 0;
    }
    .top-txt p {
        margin-left: auto;
        text-align: center;
    }

    p {
        margin-left: auto;
        text-align: center;
    }

    .top-img{
        width: 350px;
        margin: 0;
    }

    .first-presentation {
        flex-direction: column-reverse;
        align-items: center;
    }
    .first-presentation img {
        width: 400px;
    }

    .first-presentation p {
        width: 100%;
    }
    
}
